body{
   background-color: antiquewhite;
}
h1{
   color:cadetblue;
}
#p1{
   color:red;
}
#p2{
   color:purple;
}
#p3{
   color:orange;
}
#p4{
   color:chocolate;
}
.odd{
   color: red;
}
.even{
   color: chocolate;
}