body{
    background-color: rgba(32, 28, 28);
}

#h1{
    color: white;
}

#login{
    display: inline-block;
}

.input{
    font-size: 25px;
    padding: 10px;
    background-color: rgba(32, 28, 28);
    padding: 16px 20px 0px;
}

#login button{
    font-size: 25px;
    padding: 16px 20px 0px;
    background-color: rgb(8,220,100);
}

#login:hover button{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.8);
}

#login a{
    color: grey;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
 }