body{
    background-color: rgba(32, 28, 28);
}

#h1{
    color: white;
    font-size: 28px;
    font-family: sans-serif;
}

#signup{
    display: inline-block;
}

.input{
    font-size: 25px;
    padding: 10px;
    background-color: rgba(32, 28, 28);
    margin: 10px 0px;
}

#signup button{
    font-size: 25px;
    padding: 10px 100px;
    background-color: rgb(8,220,100);
}

#signup:hover button{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.8);
}

a{
    color: grey;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
 }