*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg: #201c1c;
    --green: #08dc64;
    --green-l: #08bc5c;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg);
}

.login{
    max-width: 450px;
    width: 100%;
    /* background-color: blueviolet; */
}

.login h1{
    font-size: 40px;
    color: white;
    text-align: center;
}

.login_input{
    width: 100%;
    height: 55px;
    margin: 15px 0;
}

.login input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: white;
}

.login input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

.login_btn{
    width: 100%;
    height: 65px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

.login_btn:hover {
    cursor: pointer;
    background-color: var(--green-l);
}

.login a{
    color: #bbbbbb;
    text-decoration: underline;
 }

 .login a:hover{
    text-decoration: none;
 }
 
.login_forget{
    font-size: 17px;
    margin-bottom: 25px;
 }

.login_signup{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
 }